@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Fredoka;
  background: #f2f2f2;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin: 47px 94px 94px 63px;
}

header, .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  gap: 10px;
}

.header h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.to-do {
  margin-bottom: 150px;
}

.to-do span {
  color: #ee2626;
}

p {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 37px;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  height: auto;
  text-align: center;
  line-height: 100px;
}

a {
  text-decoration: none;
  font-family: Fredoka;
  font-size: 14px;
  font-weight: 500;
  size: 14px;
  line-height: 16.94px;
  color: #de0000;
}

a:hover {
  color: #990101;
}

ul {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 25px;
  max-width: 100%;
  margin-left: -3px;
}

.line-through {
  text-decoration: line-through;
}

/* Animação */
@keyframes pulse {
  0% {
    fill: red;
    transform: scale(1);
  }
  50% {
    fill: pink;
    transform: scale(1.2);
  }
  100% {
    fill: red;
    transform: scale(1);
  }
}

.heart-logo:hover {
  animation: pulse 1s infinite;
  cursor: pointer;
}

/**/

.divInsert {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.textInsert {
  width: 400px;
  height: 30px;
  padding: 10px;
}

.dateInsert,
.divLi .data {
  width: 120px;
  height: 30px;
  padding: 0 2px 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInsert,
.dateInsert,
.data {
  background: #f2f2f2;
  border: 2px solid #161616;
  border-radius: 10px;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.divInsert button {
  background: none;
  border: none;
  cursor: pointer;
}

.divLi {
  display: flex;
  align-items: center;
  margin-top: 25px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
  justify-content: center;
  gap: 25px;
}

.divLi span {
  color: #de0000;
  padding-right: 5px;
  background: #f2f2f2;
  border: 2px solid #161616;
  border-radius: 10px;
  padding: 10px;
}

.divLi input {
  outline: none;
  accent-color: currentcolor;
}

.divLi .texto {
  display: inline-flex;
  max-width: 400px;
  width: 400px;
  overflow: auto;
  white-space: normal;
  text-overflow: ellipsis;
  align-items: center;
  word-break: break-word;
}

.divLi button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 3px;
}

input {
  margin-right: 2px;
}

#clear {
  width: 90px;
  height: 36px;
  background: #de0000;
  border: 2px solid #161616;
  border-radius: 10px;
  font-family: "Fredoka";
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

#clear:hover {
  background-color: #990101;
}

.rodape {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding: 0px;
  margin-top: auto;
}

.lives img {
  display: inline-flex;
  padding: 2px;
}

/* Modo dark */
.dark {
  background-color: #2c2c2c;
  color: #fff;
}

.dark .header {
  background-color: #1f1f1f;
}

.dark .heart-logo {
  color: #ff6961;
}

.dark * {
  background-color: #1f1f1f;
  color: #fff;
}

.dark .textInsert,
.dark .dateInsert {
  background-color: #474747;
}

.dark .texto,
.dark .data {
  background-color: #474747;
  color: #eee;
}

.dark .rodape a {
  color: #de0000;
}

.dark .rodape a:hover {
  color: #990101;
}

.dark .line-through {
  text-decoration: line-through;
  color: #de0000;
}
